.packaging-background {
  height: 100%;
  display: flex;
  align-items: center;
  .flex-div {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .packaging-animation {
      width: 150px;
      height: 150px;
      background-color: black;
    }
    .title {
      font-size: 180%;
      height: auto;
      text-align: center;
    }
  }
}
