.selectOption-background {
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
  .flex-div {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .title {
    font-size: 200%;
    height: auto;
    text-align: center;
  }
  .description {
    height: auto;
    text-align: center;
  }
  .select-options {
    height: 30%;
    background-color: black;
  }
  .recommend {
    width: fit-content;
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // background-color: blue;
    .text {
      width: auto;
      height: fit-content;
      margin-right: 10px;
      //   background-color: black;
    }
    .checkbox {
      width: 15px;
      height: 15px;
      //   background-color: pink;
      //   background-color: transparent;
      border: 1px solid #aaaaaa;
      border-radius: 5px;
    }
  }
  .select-btns {
    height: 5%;
    width: 30%;
    display: flex;
    justify-content: center;
    .btn {
      width: 40%;
      height: auto;
      margin: 0 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      .btn-link {
        width: auto;
        height: auto;
        font-size: 90%;
        color: #8a8a8a;
        text-decoration: none;
      }
      .arrow-img {
        width: 20%;
        height: auto;
      }
    }
  }
  .btn-skip {
    position: absolute;
    right: 5%;
    bottom: 15%;
    width: fit-content;
    height: auto;

    background-color: transparent;
    border: 0;
    color: #8a8a8a;
    cursor: pointer;
  }
}
